
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<table>
 <tr>
  <th>True</th>
  <th>True</th>
  <th>True</th>
 </tr>
 <tr>
  <td>Jimmy.Buffet</td>
  <td>(303) 954-6826</td>
  <td>Somewhere on the Beach,Key West,FL,USA</td>
 </tr>
 <tr>
  <td>George.Bush</td>
  <td>(916) 245-8748</td>
  <td>1600 Pennsylvania Ave,Washington,DC,USA</td>
 </tr>
 <tr>
  <td>Eric.Cartman</td>
  <td>(615) 225-6691</td>
  <td>84 Bigboned Way,South Park,CO,USA</td>
 </tr>
 <tr>
  <td>Davey.Crockett</td>
  <td>(923) 079-7286</td>
  <td>The Alamo,San Antonio,TX,USA</td>
 </tr>
 <tr>
  <td>Jane.Doe</td>
  <td>(303) 954-6826</td>
  <td>821 Zimbabwe Ave,Washington,DC,USA</td>
 </tr>
 <tr>
  <td>Bill.Gates</td>
  <td>(916) 245-8748</td>
  <td>1 Microsoft Way,Redmond,WA,USA</td>
 </tr>
 <tr>
  <td>George.Jefferson</td>
  <td>(615) 225-6691</td>
  <td>194 Deelux Apartments,In the Sky,NY,USA</td>
 </tr>
 <tr>
  <td>King.Kong</td>
  <td>(562) 482-1563</td>
  <td>Empire State Building,New York,NY,USA</td>
 </tr>
 <tr>
  <td>Herman.Munster</td>
  <td>(303) 954-6826</td>
  <td>1313 Mockingbird Lane,Fargo,ND,USA</td>
 </tr>
 <tr>
  <td>Knute.Rockne</td>
  <td>(916) 245-8748</td>
  <td>146 Keenan Hall,Notre Dame,IN,USA</td>
 </tr>
 <tr>
  <td>Homer.Simpson</td>
  <td>(615) 225-6691</td>
  <td>742 Evergreen Terrace,Springfield,US,USA</td>
 </tr>
 <tr>
  <td>Bob.Smith</td>
  <td>(214) 875-5674</td>
  <td>12 Main Street,Anytown,IN,USA</td>
 </tr>
</table>